<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404-对不起！您访问的页面不存在</title>
  <style type="text/css">
  .txtbox p { color:#eee; text-decoration:none;}
  body {
    background:#47a3c5;
    font-family:Arial,Helvetica,sans-serif;
    font-size:200%;
    line-height:1em;
    color:#0a0a0a;
    min-width:920px;
    padding-top:350px;
    text-align:center;
  }
  </style>
</head>
<body>
  <div class="txt404">
  <p>对不起，您请求的页面不存在、或已被删除、或暂时不可用</p>
  </div>
</body>
</html>
