<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recommend System</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='util.js') }}"></script>


  <script type="text/javascript">
     function sendSearch(search_val) {
      result = sendRestfulGet("/querysearch/" + search_val)
    }
    
    function replaceUrl() {
      key = document.getElementById("searchHead").value
      if (key) {
        document.getElementById("linksearch").setAttribute("href", "/search/" + key);
      }
    }
    
    window.onload = function (){
        document.getElementById("searchHead").placeholder="{{ query_key }}";
        {% if login %}
          window.onload = sendSearch("{{ query_key }}");
        {% endif %}

    }
    
  </script>
</head>
<body background="{{ url_for('static', filename='2.jpg') }}" style=" background-repeat:no-repeat ;background-size:100% 100%;background-attachment: fixed;">
    <main>
          <header class="p-3 mb-3 border-bottom">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/" class="nav-link px-3 link-secondary">Recommend System</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-5 mb-lg-0 me-lg-5" method="POST" action="/search">
                  <input type="te" id="searchHead" class="form-control" aria-label="Search" name="key">
                </form>

                <div class="dropdown text-end">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if not login %}
                      <img src="{{ url_for('static', filename='login.jpg') }}" width="48" height="48" class="rounded-circle">
                    {% else %}
                        <img src="{{ url_for('static', filename='user.jpg') }}" width="48" height="48" class="rounded-circle">
                    {% endif %}
                    
                  </a>
                  <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                    {% if not login %}
                      <li><a class="dropdown-item" href="/login">登录</a></li>
                    {% else %}

                    <li><p class="dropdown-item">欢迎用户：{{ userid }}</p></li>
                    <li><a class="dropdown-item" href="/logout">登出</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </header>
        </main>

<div id="waterfall">
    <!-- 在这里方商品条目详情信息-->
    <p id="showpicture"></p>
</div>

</body>
</html>
